// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-item {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}
.form-member .form-member-heading,
.form-member .checkbox {
  margin-bottom: 10px;
}
.form-member .checkbox {
  font-weight: normal;
}
.form-member .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-member .form-control:focus {
  z-index: 2;
}
.form-member input {
  margin-bottom: 10px;
}